<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
<nav class="nav">
				<ul>
					<li><a href="#">TestCase</a></li>
					<li><a href="#">New Object</a></li>
					<li><a href="#">History</a></li>
					<li><a href="#">Admin</a></li>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
				</ul>
			</nav>
</div>
</body>
</html>